
.popupBody {
    background-color: white;
    border: black;
    height: 45%;
    width: 77%;
    vertical-align: middle;
}

.searchButton {
    background-color: white;
    border: #232539;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

.searchButton:hover {
    background-color: #232539;
    border: #232539;
    color: rgb(255, 255, 255);
}


.inputBox {
    padding: 10px;
    font-size: 150%;
    border: none;
    float: left;
    width: 60%;
    background: white;
}
  
.inputBox:hover {
    background: #f1f1f1;
}